<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title>ricebowl - {{ title }}</title>
        {% else %}
        <title>ricebowl</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <header>
            <h1>ricebowl &#127834;</h1>
            <ul id="navigation">
                <li><a href="{{ url_for('index') }}">home</a></li>
                <li><a href="{{ url_for('join') }}">join</a></li>
                <li><a href="{{ url_for('submit') }}">submit</a></li>
                <li><a href="{{ url_for('vote') }}">vote</a></li>
            </ul>
        </header>
        {% for success, message in get_flashed_messages(with_categories=true) %}
        <div class="message {{ 'success' if success else 'error' }}">
            {{ message }}
        </div>
        {% endfor %}
        {% block body %}
        {% endblock %}
        <footer>
            rizon#rice - 2018 - <a href="https://github.com/eti0/ricebowl">github</a>
        </footer>
    </body>
</html>
