{% extends "base.html" %}
{% block body %}
{% filter markdown %}
## So, what is this about?
This is a [ricing](https://wiki.installgentoo.com/index.php/GNU/Linux_ricing) contest, similar to a game jam.
Contestants have to rice their desktop from scratch under a time limit.
When the clock starts, the theme of the ricebowl run will be announced. Contestants will then have to adapt their ricing to the given theme.
When the time is up, each contestant must submit one or several screenshots of their system to the ricebowl [gallery]({{ url_for('vote') }}) where the whole Internet can vote for their favorite rice.

## Rules
- You must stick to the theme for the run you take part in.
- You must start from a completely fresh system.
- All of the configuration files must be written from scratch.
- No copy-pasting allowed.
- Don't go over the time limit.
- Don't use a banned wm. The banned wms are:
    - Gnome
    - KDE
    - XFCE
    - Basically any window manager that comes with a desktop environment.
- Don't use a colorscheme generator (wal, wp, wpgtk...).
{% endfilter %}
{% endblock %}
