{% extends "base.html" %}
{% block body %}
<h2>Submitting</h2>
<p>
    When the next tournament begins, you can submit your screenshot by making a POST request to this page.
    For example, using <strong>curl</strong>:
</p>
<pre>curl -F file=@<strong>screenshot.png</strong> -F key=<strong>your_key</strong> https://rice.church/submit</pre>

or <strong><a href="https://httpie.org">httpie</a></strong>:

<pre>http --form https://rice.church/submit file@<strong>screenshot.png</strong> key=<strong>your_key</strong></pre>

or you can just use the upload form below:
<form method="POST" enctype="multipart/form-data" action="{{ url_for('submit') }}">
    <input type="file" name="screenshot">
    <input type="text" name="key" placeholder="Your secret key">
    <input type="hidden" name="from_form" value="true">
    <input type="submit">
</form>
{% endblock %}
