/* import webfonts */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto+Mono|Roboto:300,400,500,700');


/* variables */
:root {
    --white: #fff;
    --black: #000022;
    --grey: #3d3d48;
    --lightgrey: #6b6ba0;
    --accent: #e1515f;
    --success: #70d161;
    --error: #e15b69;
}


/* general */
html, body {
    max-width: 680px;
    height: 100%;
    margin: auto;
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", serif;
}

a {
    text-decoration: none;
    color: var(--accent);
}

a:hover {
    color: var(--black);
}

pre {
    padding: 10px;
    border: 1px solid var(--grey);
    background-color: var(--black);
    color: var(--white);
    font-family: "Roboto Mono", monospace;
    font-size: small;
}

header {
    border-bottom: 2px solid var(--grey);
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 10px;
    padding: 10px;
    color: var(--black);
}

#navigation {
    padding: 0;
}

#navigation li {
    display: inline;
}

#navigation li:not(:last-child)::after {
    content: " - ";
    color: var(--grey);
}

.message {
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.message.success {
    background-color: var(--success);
}

.message.error {
    background-color: var(--error);
}

footer {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--lightgrey);
    font-size: small;
}

form {
    margin-top: 10px;
    background: var(--white);
}

.screenshot {
    margin: 20px auto;
    text-align: center;
}

.screenshot .nickname {
    line-height: 3;
    font-weight: bold;
}
